<div class="container main">
<br>
<div class="w3-center w3-animate-opacity2">
<h2 id="text">Gallery</h2>
<div class="w3-center w3-animate-opacity3">
<hr class="line">
<button type="button" class="btn btn-success" id="buttn" onclick="window.location.href = 'articles/newarticle';">
  Add An Article</button>
<div class="dropd">
<div class="selectWrapper">
    <select class="selectBox" id="foo">
        <option id="opt">Browse</option>
        <option id="opt" value="sasweekgallery.html">SAS Week 2018</option>
        <option id="opt" value="wowgallery.html">Week of Welcome</option>
        <option id="opt" value=#>USC Days</option>
        <option id="opt" value=#>CpE Week 2018</option>
    </select>
</div>
</div>
</div>
<div class="animated animatedFadeInUp fadeInUp">
<ul class="grid effect-8" id="grid">
    <a href="#img1"><li><img src="images/sampleusc2.jpg" class="thumbnail"></a></li>
    <a href="#_" class="lightbox" id="img1"><img src="images/sampleusc2.jpg" class="w3-center w3-animate-opacity2"></a>

    <a href="#img2"><li><img src="images/sampleusc.jpg" height="211" class="thumbnail"></a></li>
    <a href="#_" class="lightbox" id="img2"><img src="images/sampleusc.jpg" class="w3-center w3-animate-opacity2"></a>

    <a href="#img1"><li><img src="images/sampleusc.jpg" height="211" class="thumbnail"></a></li>
    <a href="#_" class="lightbox" id="img1"><img src="images/sampleusc.jpg" class="w3-center w3-animate-opacity2"></a>
    
    <a href="#img2"><li><img src="images/sampleusc.jpg" height="211" class="thumbnail"></a></li>
    <a href="#_" class="lightbox" id="img2"><img src="images/sampleusc.jpg" class="w3-center w3-animate-opacity2"></a>
        
    <a href="#img2"><li><img src="images/sampleusc.jpg" height="211" class="thumbnail"></a></li>
    <a href="#_" class="lightbox" id="img2"><img src="images/sampleusc.jpg" class="w3-center w3-animate-opacity2"></a>

    <a href="#img1"><li><img src="images/sampleusc2.jpg" width="350" height="423" class="thumbnail"></a></li>
    <a href="#_" class="lightbox" id="img1"><img src="images/sampleusc2.jpg" class="w3-center w3-animate-opacity2"></a>

    <a href="#img2"><li><img src="images/sampleusc.jpg" height="211" class="thumbnail"></a></li>
    <a href="#_" class="lightbox" id="img2"><img src="images/sampleusc.jpg" class="w3-center w3-animate-opacity2"></a>

    <a href="#img2"><li><img src="images/sampleusc.jpg" height="211" class="thumbnail"></a></li>
    <a href="#_" class="lightbox" id="img2"><img src="images/sampleusc.jpg" class="w3-center w3-animate-opacity2"></a>

    <a href="#img1"><li><img src="images/sampleusc2.jpg" width="350" height="198" class="thumbnail"></a></li>
    <a href="#_" class="lightbox" id="img1"><img src="images/sampleusc2.jpg" class="w3-center w3-animate-opacity2"></a>
        
    <a href="#img1"><li><img src="images/sampleusc2.jpg" width="350" height="198" class="thumbnail"></a></li>
    <a href="#_" class="lightbox" id="img1"><img src="images/sampleusc2.jpg" class="w3-center w3-animate-opacity2"></a>

    <a href="#img1"><li><img src="images/sampleusc2.jpg" class="thumbnail"></a></li>
    <a href="#_" class="lightbox" id="img1"><img src="images/sampleusc2.jpg" class="w3-center w3-animate-opacity2"></a>

    <a href="#img2"><li><img src="images/sampleusc.jpg" height="211" class="thumbnail"></a></li>
    <a href="#_" class="lightbox" id="img2"><img src="images/sampleusc.jpg" class="w3-center w3-animate-opacity2"></a>

    <a href="#img2"><li><img src="images/sampleusc.jpg" height="211" class="thumbnail"></a></li>
    <a href="#_" class="lightbox" id="img2"><img src="images/sampleusc.jpg" class="w3-center w3-animate-opacity2"></a>

    <a href="#img1"><li><img src="images/sampleusc2.jpg" class="thumbnail"></a></li>
    <a href="#_" class="lightbox" id="img1"><img src="images/sampleusc2.jpg" class="w3-center w3-animate-opacity2"></a>

    <a href="#img2"><li><img src="images/sampleusc.jpg" height="211" class="thumbnail"></a></li>
    <a href="#_" class="lightbox" id="img2"><img src="images/sampleusc.jpg" class="w3-center w3-animate-opacity2"></a>

    <a href="#img2"><li><img src="images/sampleusc.jpg" height="211" class="thumbnail"></a></li>
    <a href="#_" class="lightbox" id="img2"><img src="images/sampleusc.jpg" class="w3-center w3-animate-opacity2"></a>

    <a href="#img2"><li><img src="images/sampleusc.jpg" height="211" class="thumbnail"></a></li>
    <a href="#_" class="lightbox" id="img2"><img src="images/sampleusc.jpg" class="w3-center w3-animate-opacity2"></a>
    
</ul>
</div>
</div>
</div>
<script type=text/javascript>
    text = document.getElementById("text");
   
       function split(element){
         const content = element.innerText
         const length = content.length
         element.innerText = ""
         
         for(let i = 0; i<length;i++){
            const span = document.createElement("span")
            span.innerText = content[i]
            span.id = "split_"+i
            span.className = "split_span"
            span.style.opacity = 0
            element.append(span)
         }
       }
   
       function animate(element, animation){
        split(element)
   
        let indexes = []
        const letters =  document.querySelectorAll("#"+element.id + " .split_span")
        for(let i = 0;i<letters.length;i++){
          indexes.push(i)
        }
        indexes = Shuffle(indexes)
        setInterval(function(){
          if(indexes.length > 0){
            let letter = letters[indexes[0]]
            letter.style.animation = `${animation} 2s ease-in-out`
            letter.style.opacity = 1
            indexes.splice(0,1)
          }
        },100)
       }
   
       function Shuffle(o) {
           for(var j, x, i = o.length; i; j = parseInt(Math.random() * i), x = o[--i], o[i] = o[j], o[j] = x);
           return o;
       };
   
       animate(text, "fadeIn")
      </script>
       
       <script src="js/modernizr.custom.js"></script>
       <script src="js/masonry.pkgd.min.js"></script>
       <script src="js/imagesloaded.js"></script>
       <script src="js/classie.js"></script>
       <script src="js/AnimOnScroll.js"></script>
           <script>
           new AnimOnScroll( document.getElementById( 'grid' ), {
               minDuration : 0.4,
               maxDuration : 0.6,
               viewportFactor : 0.2
           } );
       </script>
       <script>
       document.getElementById("foo").onchange = function() {
           if (this.selectedIndex!==0) {
               window.location.href = this.value;
           }        
       };
   </script>