<!DOCTYPE html>
<html>

<head>
	<link rel="shortcut icon" href="images/favi2.png">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width", initial-scale="1.0">
    <meta http="X-UA-Compatible" content="ie=edge">
	<title>USC All Access</title>
    <link href="css/page.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/eacss/navbar.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<% include%>
</body>