<!--Carousel-->      
<div id="carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <a href="index.html">
                 <picture>
                  <source srcset="images/samplewidth.jpg" media="(min-width: 1100px)">
                  <img srcset="images/samplewidth.jpg" alt="responsive image" class="d-block img-fluid">
                </picture>
            </a>
        </div>
        <!-- /.carousel-item -->
        <div class="carousel-item">
            <a href="index.html">
                 <picture>
                  <source srcset="images/samplewidth2.jpg" media="(min-width: 1100px)">
                  <img srcset="images/samplewidth.jpg" alt="responsive image" class="d-block img-fluid">
                </picture>
            </a>
        </div>
        <!-- /.carousel-item -->
        <div class="carousel-item">
            <a href="index.html">
                 <picture>
                  <source srcset="images/samplewidth3.jpg" media="(min-width: 1100px)">
                  <img srcset="images/samplewidth.jpg" alt="responsive image" class="d-block img-fluid">
                </picture>
            </a>
        </div>
        <!-- /.carousel-item -->
    </div>
    <!-- /.carousel-inner -->
    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="container">
    <h1 id="text">WELCOME</h1>
    <br>
    <div class="animated fadeInUp">
        <h4>This is USC All Access' Official Website.</h4>
        <h4>Bringing you the latest happenings in the</h4>
        <h4>University of San Carlos.</h4>
    </div>
</div>
<div class="container">
  <div class="animated fadeInUp">
    <div class="wrap">

      <div class="tile"> 
        <img src='images/sampleholder3.jpg'/>
        <div class="text">
          <h1>Week of Welcome 2019</h1>
          <h2 class="animate-text">Back to School</h2>
          <p class="animate-text">For the first week, students joined different activities to welcome freshmen bla bla bla. </p>
          <div class="bottom-read text-center">
            <p class="animate-text"><em><a class="animate-text"class="animate-text" href="samplearticle.html">Read More ></em></p></a>
          </div>
        </div>
      </div>
       

      <div class="tile"> 
        <img src='images/sasintrams.jpg'/>
        <div class="text">
          <h1>USC Days 2019</h1>
          <h2 class="animate-text">SAS Cheerdance Team bags First Place</h2>
          <p class="animate-text">On October 21, 2019, the SAS Cheerdance Team won the Championship Title bla bla bla bla.</p>
          <div class="bottom-read-special text-center">
            <p class="animate-text"><em><a class="animate-text" href="samplearticle.html">Read More ></em></p></a>
          </div>
        </div>
      </div>


      <div class="tile"> 
        <img src='images/sampleholder2.png'/>
          <div class="text">
            <h1>SAS Week 2019</h1>
            <h2 class="animate-text">Different activities during the whole week.</h2>
            <p class="animate-text">It was very fun. Lots of activities were held in the SAS Lobby of the PE Building. </p>
            <div class="bottom-read text-center">
              <p class="animate-text"><em><a class="animate-text" href="samplearticle.html">Read More ></em></p></a>
            </div>
          </div>
      </div>

    </div>
  </div>
</div>