@import url('https://fonts.googleapis.com/css?family=Montserrat:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
.navbar-custom { background-color: #FFCA2A !important;}
.nav-link {
  color: #28a745 !important;
}

/*.center-div {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 400px;
  height: 250px;
  border-radius: 3px;
}

.top-emoji-div {
  float: left;
}

.top-emoji {
  height: 50px;
  margin: 15px;
  margin-bottom: 0px;
}

.top-emoji:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.emoji-count p {
  text-align: center;
  font-weight: bold;
  font-size: 0.9em;
  padding-top: 5px;
  color: #fff;
  font-weight: 400;
}

.emoji-count {
  margin-left: 22px;
  position: relative;
  background: #2c3e50;
  width: 35px;
  height: 28px;
  border-radius: 7px;
}

.emoji-count:after,
.emoji-count:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
}

.emoji-count:after {
  border-bottom-color: #2c3e50;
  border-width: 6px;
  left: 50%;
  margin-left: -6px;
}

.add-answer p {
  float: left;
  margin-top: 23px;
  margin-left: 15px;
  font-size: 1.1em;
}

.add-answer .button {
  margin-top: 7px;
  background-color: #526A80;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  padding: 5px 22px;
  font-size: 0.8em;
  text-decoration: none;
  margin-left: 10px;
  cursor: pointer;
}

.add-answer .button:hover {
  background-color: #728CA3;
}

.add-answer .cancel {
  background-color: #2C3E50;
  padding-left: 24px;
  padding-right: 24px;
}

.add-answer {
  margin-left: 15px;
  background-color: #F0F2F2;
  height: 80px;
  width: 380px;
  border-radius: 10px;
  float: left;
  margin-top: 20px;
}

.add-reaction-div {
  width: 60px;
  height: 60px;
  background-color: #D6D6D6;
  color: #333;
  float: left;
  margin: 10px;
  border-radius: 10px;
}

.question-text {
  color: #fff;
  font-weight: 400;
  text-align: center;
}

p {
  color: #fff;
  text-align: center;
}

a {
  color: #fff;
}

.attribution {
  padding: 10px;
}

.clear {
  clear: both;
  display: inline-block;
}
*/
*{
  
}
.comment{
  width:850px;
  height:250px;
  position: relative;
  margin:0 auto;
  overflow:hidden;
  margin-bottom:10px;
 
}
.comment img{
  width:60px;
  height:auto;
  
  float:left;
  
}
.color{
  font-weight:700;
  color:#4B77BE;
  text-transform: capitalize;
}
.date-time{
  font-size:11px;
  margin-left:25px;
}

.comment .box{
position: relative;
  width:735px;
  background-color:#ECF0F1;
  border:1px solid #BDC3C7;
  float:right;
  padding:20px;
  color:#6C7A89;

}
.comment .box:before{
  content:"";
  width:0;
  height:0;
  border-color:transparent #BDC3C7 transparent  transparent;
  border-width:5px;
  border-style: solid;
  position:absolute;
  left:-11px;
  top:38px;
  display:block;
}
.comment .box p{
  color:#95A5A6;
  text-align: justify;
}
.comment .box button{
  background-color:transparent;
  border:1px solid #BDC3C7;
  width:120px;
  height:40px;
  color:#95A5A6;
  font-size:14px;
  font-weight:700;
  transition:all .5s;
 
}
.comment .box button:hover{
  background-color:#BDC3C7;
  color:#ECF0F1;
  
}
