<!-- Navbar-->  
<div id="nabar" class="fixed-top">
        <nav class="navbar navbar-expand navbar-light bg-light">
          <div class="right-pic">
            <div class="dropdown">
              <a class="nav-link picdrop" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false"><img src="images/chika.jpg" class="pic-tr"></a>
              <div class="dropdown-menu d-menu d-mymenu dp" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item drop-hover" href="#">View profile</a>
                <a class="dropdown-item drop-hover" href="#">Sign out</a>
              </div>
              </div>
          </div>
          <div id="l-logo">
          <a class="" href="#" role="button"><img src="images/uaalogologo.png" href="layouts/home.ejs" id="uaanav"></a>
          </div>
          <div class="" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item nav-li">
            <a class="nav-link nav-link-dd nav-space" href="layouts/home.ejs">Home</a>
            </li>
            <div class="dropdown">
            <a class="nav-link nav-link-dd nav-space" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Portal<i class="fa fa-caret-down arrow"></i></a>
            <div class="dropdown-menu d-menu d-mymenu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item drop-hover" href="#">Live updates</a>
              <a class="dropdown-item drop-hover" href="#">Chat</a>
            </div>
            </div>
            <li class="nav-item nav-li">
            <a class="nav-link nav-link-dd nav-space" href="layouts/gallery.ejs">Gallery</a>
            </li>
            <li class="nav-item nav-li">
            <a class="nav-link nav-link-dd my-active nav-space" href="layouts/aboutus.ejs">About</a>
            </li>
            <li class="nav-item nav-li nav-space-special">
            <a class="nav-link nav-link-dd" href="layouts/contactus.ejs">Contact</a>
            </li>
          </ul>
          </div>
        </nav>
        <div id="green">
        </div>
        </div>
    </div>

	<div class="container main">
		<br>
		<center><h2 id="text">About the Team</h2></center>
		
		<div class="w3-center w3-animate-opacity">
			<hr class="line">
			<h5 id="desc"><center><a href="layouts/aboutus.ejs" class="toClick">About Us</a>  / <strong>Members</h5></div></strong>

		<div class="animated animatedFadeInUp fadeInUp">
			<div class="card4">
			  <div class="card" style="width: 14rem; height:20rem;" id="para">
	  				<img src="images/director.jpg" class="card-img-top" alt="pres" height="190" width="75">
	  				<div class="card-body">
	    				<p class="card-title">Mel Ryan Omongos</p>
                        <div class="lower-card-body">
                            <p class="card-text">Director</p>
                            <div class="lower-card-body-pic">
                                <img src="images/fb.png" width="23" height="23">&nbsp; <img src="images/twit.png" width="23" height="23">
                                &nbsp;<img src="images/insta.png" width="23" height="23">
                            </div>
                        </div>
	  				</div>
			  </div>
			</div>
		</div>
			<br>
	<div class="animated animatedFadeInUp fadeInUp">
		<div class="container2">
			<div class="card3">
				 <div class="card" style="width: 14rem; height:20rem;" id="para">
	  				<img src="images/allan.jpg" class="card-img-top" alt="pres" height="190" width="75">
                    <div class="card-body">
                        <p class="card-title">Allan Jericho</p>
                        <div class="lower-card-body">
                            <p class="card-text">Asst. Director</p>
                            <div class="lower-card-body-pic">
                                <img src="images/fb.png" width="23" height="23">&nbsp; <img src="images/twit.png" width="23" height="23">
                                &nbsp;<img src="images/insta.png" width="23" height="23">
                            </div>
                        </div>
                    </div>
			 	</div>
			</div>
			<div class="card4">
				 <div class="card" style="width: 14rem; height:20rem;" id="para">
	  				<img src="images/allan.jpg" class="card-img-top" alt="pres" height="190" width="75">
                    <div class="card-body">
                        <p class="card-title">Allan Jericho</p>
                        <div class="lower-card-body">
                            <p class="card-text">Asst. Director</p>
                            <div class="lower-card-body-pic">
                                <img src="images/fb.png" width="23" height="23">&nbsp; <img src="images/twit.png" width="23" height="23">
                                &nbsp;<img src="images/insta.png" width="23" height="23">
                            </div>
                        </div>
                    </div>
			 	 </div>
			</div>
			<div class="card2">
				 <div class="card" style="width: 14rem; height:20rem;" id="para">
	  				<img src="images/allan.jpg" class="card-img-top" alt="pres" height="190" width="75">
                    <div class="card-body">
                        <p class="card-title">Allan Jericho</p>
                            <div class="lower-card-body">
                                <p class="card-text">Asst. Director</p>
                                <div class="lower-card-body-pic">
                                    <img src="images/fb.png" width="23" height="23">&nbsp; <img src="images/twit.png" width="23" height="23">
                                    &nbsp;<img src="images/insta.png" width="23" height="23">
                                </div>
                            </div>
                        </div>
			 	 </div>
			</div>
		</div>
		<!-- insert new here -->
    </div>
    </div>